#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  color: yellow;

}

#header-img {
  width: 150px;
  height: 120px;
  padding-left: 30px;
}


#nav-bar {
float: right;
margin: 10;
}

  h1 {
  color: red;
}
